html{
  text-align: center;
  height: 100%;
  position: relative;
}
body{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-60%);
}
h3{
  font-size: 60px;
  margin: 0 auto;
}
#clock{
  font-size: 70px;
}
form{
  padding-top: 15px;
}
input{
width: 130px;
height: 50px;
}